.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    width: 100%;
  }

.footer p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #5E4FA2;
    font-weight: 600;
}